<div class = "Lform">
  <h1>Login</h1>
</div>
  <% form_for :user do |f| %>
    <%= f.error_messages %>

  <div class = "Lform">
    <%= f.label :name %>
	</div>
	<div class = "Lform">
    <%= f.text_field :name, :autofocus => 'true'%>
  </div>

  <div class = "Lform">
    <%= f.label :password %>
	</div>
	<div class = "Lform">
    <%= f.password_field :password %>
  </div>
	
	<div class = "Lform">
      <%= f.submit 'Login' %> 
	</div>
	<div class = "Lform">
	<%= link_to 'Register', new_user_path %>
	</div>

  <% end %>
