<h1>When did you...</h1>

<dl class = "eventList">

<% @events.each do |event| %>
  <dt class = "eventListInstance">
    <%= link_to event.name, event %> </dt>
    <dd><% if event.event_instances.last %>
    <b><%= event.event_instances.last.time.strftime('%c') %></b> <% if event.event_instances.size > 1 %>and <%= (event.event_instances.size - 1) %> other times<% end %>  
    <% else %>
    never
    <% end %>
    </dd>
<% end %>
<dt class = "eventListAdd">
	<b>Create new event</b>
    <%= render :partial => "form" %>
</dt>

</dl>


<!--<%= link_to 'New event', new_event_path %>-->