<h1>When did you...</h1>

<ul>

<% @events.each do |event| %>
  <li>
    <h2><%= link_to event.name, event %></h2>
    <p><% if event.event_instances.last %>
    <b><%= event.event_instances.last.time.strftime('%c') %></b> <% if event.event_instances.size > 1 %>and <%= (event.event_instances.size - 1) %> other times<% end %>  
    <% else %>
    never
    <% end %>
    </p>
  </li>
<% end %>
<li>
    <% form_for(@event) do |f| %>
      <p>
        <%= f.text_field :name, {:placeholder => 'Create a new event?'}%>
        <%= f.submit 'Create' %>
      </p>
    <% end %>
    
</li>
</ul>



<!--<%= link_to 'New event', new_event_path %>-->