
<h1><%=h @event.name %></h1>

<p><%= @event.description %></p>

<h3><%= @event.event_instances.size>0 ? @event.event_instances.size : 'No' %> occasion<%= 's' if @event.event_instances.size != 1 %>:</h3>

<ul>
<% @event.event_instances.each do |instance|%>
    <li><%= instance.time %> <%= link_to( 'Delete', [@event, instance], :method => :delete, :confirm => "Are you sure?") %></li>
<% end %>
<li>
  <% form_for([@event, @event_instance]) do |f| %>
  <%= f.error_messages %>
    <%= f.datetime_select :time %>
    <%= f.submit 'Add occasion' %>
  <% end %>
</li>
</ul>
<p><%= link_to 'Remove this event', @event, :method => :delete, :confirm => "Are you sure?" %></p>
<p><%= link_to 'Back', events_path %></p>