
<h2>Name:</h2>
<p><%=h @event.name %></p>

<h2>Times:</h2>

<ul>
<% @event.event_instances.each do |instance|%>
    <li><%= instance.time %> <%= link_to( 'Delete', [@event, instance], :method => :delete) %></li>
<% end %>
<li>
  <% form_for([@event, @event_instance]) do |f| %>
  <%= f.error_messages %>
    <%= f.datetime_select :time %>
    <%= f.submit 'Add occasion' %>
  <% end %>
</li>
</ul>
<p><%= link_to 'Remove this event', @event, :method => :delete %></p>
<p><%= link_to 'Back', events_path %></p>